{% extends 'base.html' %}

{% block content %}

<div class="card center-align">
    <div class="card-title">
        <h3 class="form-title">Delete {{ object.name }}</h3>
    </div>
    <div class="card-content">
        <h5>Are you sure you want to delete {{ object.name }}?</h5>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes - Delete!" class="btn">
            <a class="btn" href="{% url 'details' game.id %}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %} 