body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("https://i.imgur.com/I6eT8bo.jpg");
  background-size: cover;
  background-position: center;
}


main {
  flex: 1 0 auto;
  margin-top: 10vmin!important;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: white;
  color: blue;
}

nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1;
}

nav a {
    color: blue!important;
}
  
select {
  display: block;
}

label[for=id_content] {
  color: white;
} 

.btn {
  background-color: white;
  color: blue;
}

.btn:hover {
  background-color: blue;
  color: white;
}

.badge {
  width: 40px!important;
  height: auto;
}

#logo {
  height: 64px;
  width: auto;
  margin-left: 2vmin;
}

.details-section{
  line-height: 200%;
  display: inline;
}

.linktext {
  color: blue!important;
}

.logincard {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5rem;
}


.gamecard {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-vintage-minimalistic-playing-card-background-image_88093.jpg');
  width: 378px;
  height: 505px;
  background-size: cover;
  background-position: center;
  margin: 2vmin;
  padding-top: 5vmin;
}

.index-title {
  margin-left: 7vmin;
  margin-right: 7vmin;
}

.rules {
  height: 40vmin;
  overflow: scroll;
  border: 1px solid black;
  padding: 2vmin;
}

.badge-title {
  width: 40px;
  font-size: 14px;
  margin: 0 1px;
}

.remove-icon {
  content-visibility: hidden;
  background-size: cover!important; 
  background-position: center!important;
}

.remove-icon:hover{ 
  background-image: none!important;
  background-color: blue!important;
  content-visibility: visible!important;
  color: white!important;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding-top: 0;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  /* Position the tooltip */
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  z-index: 1;
  margin-top: 15px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.badge-container {
  padding-top: 1vmin!important;
  padding-left: 1vmin!important;
}

.details-title {
  margin-bottom: 0;
}

.form-title {
  padding-top: 5vmin;
  
}

input[id=id_name]:focus, input[id=id_cards_used]:focus, 
input[id=id_region]:focus, input[id=id_username]:focus, 
input[id=id_password]:focus, input[id=id_password1]:focus,
input[id=id_password2]:focus, select[id=id_num_players]:focus {
  border-color: blue!important;
}

.brand-logo {
  height: 60px;
  width: auto;
}

.login-title {
  padding-top: 1vmin!important;
  padding-bottom: 0!important;
  margin-top: 2vmin!important;
}

/* .index-temp {
  width: 378px;
  
} */

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
}

@media only screen and (max-width: 993px) {
  .wrapper-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
