body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("https://i.imgur.com/I6eT8bo.jpg");
  background-size: cover;
  background-position: center;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: white;
  color: blue;
}

nav{
    background-color: rgb(255, 255, 255);

}

nav a {
    color: blue!important;
}
  
select {
  display: block;
}

label[for=id_content] {
  color: white;
} 

.badge {
  width: 40px!important;
  height: auto;
}

#logo {
  width: 23%;
  height: auto;
  margin-left: 2vmin;
}

#details-title {
  font-size: 8vmin;
  color: white;
  text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

.linktext {
  color: blue!important;
}

.logincard {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10rem;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  /* column-gap: 20px; */
}

.gamecard {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-vintage-minimalistic-playing-card-background-image_88093.jpg');
  width: 378px;
  height: 505px;
  background-size: cover;
  background-position: center;
  margin: 2vmin;
  padding-top: 5vmin;
}

.index-title {
  margin-left: 7vmin;
  margin-right: 7vmin;
}
