{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="card">
        <div class="card-content">
            <span class="card-title" id="details-title">
                {{game.name}} Details
            </span>
        <div class="card-content right">
            {% if game.badges %}
                {% for badge in game.badges.all %}
                    <p>{{ badge.title }}</p>
                    <img class="circle responsive-img badge" src="{{ badge.url }}" alt="badge icon">
                    {% if user_id == game.user %}
                    <form action="{% url 'unassoc_badge' game.id badge.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Remove</button>
                    </form>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <p>Rules: {{game.rules}}</p>
        <p>Number of Players: {{game.num_players}}</p>
        <p>Cards Used: {{game.cards_used}}</p>
        <p>Region: {{game.region}}</p>
        <p>Created On: {{game.created}}</p>

    </div>
    {% if user_id == game.user %}
    <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
    </div>
    {% endif %}
    <div class="card-content">
        <form action="{% url 'comments_create' game.id user.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <label for=""></label>
            <input type="submit" class="btn" value="Share Your Thoughts!">
        </form>
    </div>
    <div class="card-content">
        {% if game.comment_set.all %}
            <table>
                <thead>
                    <tr>
                        <th>Comments:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in game.comment_set.all %}
                    <tr>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.created }}</td>
                        {% if user_id == comment.user %}
                        <td><a href="{% url 'comments_delete' game.id comment.id %}">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5>Say Something!</h5>
        {% endif %}
    </div>
</div>
<div class="card">
    {% if user_id == game.user %}
    <div class="card-content">
        <h5>Add a Badge!</h5>
        <div class="card-action">
            <form action="{% url 'assoc_badge' game.id %}" method="POST">
                {% csrf_token %}
                <select name="badge" class="select">
                    {% for badge in badges %}
                        <option value="{{ badge.id }}">{{ badge.title }}</option>
                {% endfor %}
                </select>
                <button type="submit" class="btn">Add</button>
            </form>
        </div>
        {% endif %} 
    </div>

</div>
</div>
{% endblock %}

