{% extends 'base.html' %}

{% block content %}

<h1>{{game.name}} Details</h1>
<div class="row">
<div class="card">
    <div class="card-content">
        <p>Rules: {{game.rules}}</p>
        <p>Number of Players: {{game.num_players}}</p>
        <p>Cards Used: {{game.cards_used}}</p>
        <p>Region: {{game.region}}</p>
        <p>Created On: {{game.created}}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
    </div>
    <div class="card-content">
        <form action="{% url 'comments_create' game.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <label for=""></label>
            <input type="submit" class="btn" value="Share Your Thoughts!">
        </form>
    </div>
    <div class="card-content">
        {% if game.comment_set.all %}
            <table>
                <thead>
                    <tr>
                        <th>Comments:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in game.comment_set.all %}
                    <tr>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.created }}</td>
                        <td><a href="{% url 'comments_delete' comment.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5>Say Something!</h5>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}