{% extends 'base.html' %}

{% block content %}

<h1 class="white-text">Games</h1>
<container class="wrapper-grid">
{% for game in games %}
<a class="index-temp" href="{% url 'details' game.id %}"> 
      <div class="card gamecard">
        <div class="card-content center-align index-badges">
          {% for badge in game.badges.all %}
            <img class="badge" src="{{badge.url}}" alt="a badge representing {{badge.name}}">
          {% endfor %}
        </div>
        <div class="linktext card-content">
          <h3 class="center-align index-title">{{game.name}}</h3>
          <h4 class="center-align index-title">Players: {{game.num_players}}</h4>
        </div>
      </div>
    </a>  
  </div>  
{% endfor %}
</container>

{% endblock %}